<div class="modal fade" id="answerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Envoyer ou mettre à jour son score</h5>
            </div>
            <div class="modal-body">
                <!-- Submit form -->
                <form id="submit-form">
                    <div class="form-group">
                        <!-- PSEUDO FIELD -->
                        <label for="inputPseudo">Pseudo</label>
                        <input type="string" class="form-control" id="inputPseudo" placeholder="Entrez votre pseudo">
                        <div class="invalid-feedback" id="pseudo-feedback"></div>

                        <!-- PRIVATE LEADERBOARD FIELD -->
                        <label for="privateLeaderboard" class="mt-2">Panthéon privé</label>
                        <input type="string" class="form-control" id="privateLeaderboard"
                               placeholder="(Option) Entrez le nom de votre panthéon privé">
                        <small id="leaderboardHelp" class="form-text text-muted">Gardez le champ vide pour rester dans le
                            même panthéon.</small>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">
                        Soumettre
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>