/* TITLE STYLE */
.blog_title {
    text-transform: uppercase;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.blog_subtitle {
    text-transform: uppercase;
    color: #A0A0A0;
}


/* BODY STYLE */
.blog_post_content {
    text-align: justify;
}

.blog_post_content img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.blog_post_content iframe {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/* TABLES */
.blog_post_content table {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

.blog_post_content td, .blog_post_content th {
  border: 1px solid #ddd;
  padding: 8px;
}

.blog_post_content tr:nth-child(even) {
    background-color: #f2f2f2;
}

.blog_post_content tr:hover {
    background-color: #ddd;
}

.blog_post_content th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  background-color: FF7171;
  color: white;
}

/* BLOCKQUOTE */
.blog_post_content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin-left:auto;
  margin-right:auto;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  width: 80%;
}

.blog_post_content blockquote p {
  display: inline;
}
