{% extends "base.html" %}
{% load static %}

{% block social_meta %}
{% endblock %}

{% block page_content %}

<h3> Bio de {{ author.display_name }}
    {% if author.twitter_handle|length > 0 %}
    <a class="btn ml-3" style="background-color: #55acee" href="https://twitter.com/{{ author.twitter_handle }}"
       role="button">
        <i class="bi-twitter"></i>
    </a>
    {% endif %}
</h3>
<hr>

{{ author.bio|linebreaks }}

<h3 class="mt-4"> Les dernières grilles </h3>
<hr>

{% include "grid_view.html" with page_link="?author="|add:author.display_name %}

{% endblock %}
