@font-face {
    font-family: 'Outward';
    src: url('/static/fonts/outward/outward-block-webfont.eot');
    src: url('/static/fonts/outward/outward-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/outward/outward-block-webfont.woff2') format('woff2'),
         url('/static/fonts/outward/outward-block-webfont.woff') format('woff'),
         url('/static/fonts/outward/outward-block-webfont.ttf') format('truetype'),
         url('/static/fonts/outward/outward-block-webfont.svg#outwardblock') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outward';
    src: url('/static/fonts/outward/outward-borders-webfont.eot');
    src: url('/static/fonts/outward/outward-borders-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/outward/outward-borders-webfont.woff2') format('woff2'),
         url('/static/fonts/outward/outward-borders-webfont.woff') format('woff'),
         url('/static/fonts/outward/outward-borders-webfont.ttf') format('truetype'),
         url('/static/fonts/outward/outward-borders-webfont.svg#outwardborders') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Outward';
    src: url('/static/fonts/outward/outward-round-webfont.eot');
    src: url('/static/fonts/outward/outward-round-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/outward/outward-round-webfont.woff2') format('woff2'),
         url('/static/fonts/outward/outward-round-webfont.woff') format('woff'),
         url('/static/fonts/outward/outward-round-webfont.ttf') format('truetype'),
         url('/static/fonts/outward/outward-round-webfont.svg#outwardround') format('svg');
    font-weight: normal;
    font-style: italic;
}