{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block page_content %}

<div class="row mt-4">

    <div class="col-sm-1"></div>

    <form class="col-sm-2" method="get">
        {{ projects.form | crispy }}
        <button type="submit">Search</button>
    </form>

    <table class="col-sm-8 table ">
        <thead>
        <tr>
            <th class="th-sm">Nom
            </th>
            <th class="th-sm">Auteur - Autrice
            </th>
            <th class="th-sm">Date
            </th>
            <th class="th-sm">Résolution
            </th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects.qs %}
        <tr class="">
            <a href="{% url 'project_detail' project.pk %}">
                <td>{{ project.title }}</td>
                <td>{{ project.author }}</td>
                <td>{{ project.date_created }}</td>
                <td><span class="badge badge-primary badge-pill">{{ project.solve_count }}</span></td>
            </a>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}