{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!-- EDITO BLOCK -->
<h3 class="mt-4"> Edito </h3>
<hr>

<div class="row no-gutters bg-light position-relative mt-4">
    <div class="col-md-2 mb-md-0 p-md-4">
        <a href="https://www.instagram.com/stc019_comix_boi/">
            <img src="static/img/edito.png" class="w-100" alt="...">
        </a>
    </div>
    <div class="col-md-10 p-4 pl-md-0">
        <h5 class="mt-0">{{ edito.title }}</h5>
        <p> {{ edito.date_created }} </p>
        <p>{{ edito.content }}</p>
    </div>
</div>

<!-- GRID VIEW BLOCK -->
<h3 class="mt-4"> Les dernières grilles </h3>
<hr>

<script>
var new_grid = 'em-new';
var start_grid = 'em-black_nib';
var finished_grid = 'em-crown';
</script>

<div class="row">
    {% for project in projects %}
    <div class="col-sm-6 col-lg-4 col-xl-2 mt-3">
        <div class="card">
            <img class="card-img-top" src="static/img/logo.png" alt="Solving the grid">
            <div style="height:100%; width: 100%; position:absolute; background-color:#ffffff; opacity:.95;"></div>
            <div class="card-img-overlay card-body">
                <div class="text-center">
                    <h5 class="mt-2">
                        {{ project.title }}
                    </h5>

                    <h6 style="margin-top: 5%;">{{ project.date_created }}</h6>

                    <h1 class="mt-4">
                        <i id="status-{{ project.pk }}" class="em" aria-role="presentation" aria-label="BLACK NIB"></i>
                    </h1>

                    <script>
                    var saveName = "crossword_nexus_savegame{{ project.pk}}";
                    if (saveName in localStorage) {
                        json_grid = JSON.parse(localStorage[saveName])
                        if(json_grid["is_finished"]){
                            $('#status-{{project.pk}}').addClass(finished_grid);
                        } else {
                            $('#status-{{project.pk}}').addClass(start_grid);
                        }
                    } else {
                        $('#status-{{project.pk}}').addClass(new_grid);
                    }
                    </script>

                </div>
                <a href="{% url 'project_detail' project.pk %}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

