{% extends "base.html" %}
{% load static %}

{% block page_content %}
<!--<link href="{% static 'css/crosswordnexus.css' %}" rel="stylesheet">-->
<script type="text/javascript" src="{% static 'js/crosswords.js' %}"></script>
<script type="text/javascript" src="{% static 'js/puz.js' %}"></script>

<script src="{% static 'lib/jquery.js' %}"></script>
<script src="{% static 'lib/zip/zip.js' %}"></script>
<script src="{% static 'lib/jspdf.min.js' %}"></script>

<div><h1>{{ project.title }}</h1></div>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle"
     role="button"
     id="dropdownReveal"
     data-toggle="dropdown"
     aria-haspopup="true"
     aria-expanded="false">
    Révéler
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownReveal">
    <a class="dropdown-item" id="reveal-letter">Lettre</a>
    <a class="dropdown-item" id="reveal-word">Mot</a>
    <a class="dropdown-item" id="reveal-puzzle">Grille</a>
  </div>
</div>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle"
     role="button"
     id="dropdownCheck"
     data-toggle="dropdown"
     aria-haspopup="true"
     aria-expanded="false">
    Vérifier
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownCheck">
    <a class="dropdown-item" id="check-letter">Lettre</a>
    <a class="dropdown-item" id="check-word">Mot</a>
    <a class="dropdown-item" id="check-puzzle">Grille</a>
  </div>
</div>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle"
     role="button"
     id="dropdownFichier"
     data-toggle="dropdown"
     aria-haspopup="true"
     aria-expanded="false">
    Fichier
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownFichier">
    <a class="dropdown-item" id="file-save">Sauver</a>
    <a class="dropdown-item" id="file-load">Charger</a>
    <a class="dropdown-item" id="file-pdf">Pdf</a>
  </div>
</div>

<div>
    <div class="cw-right">
        <div class="cw-buttons-holder">
            <div class="cw-button cw-timer">00:00</div>
        </div>
    </div>
</div>

<div class="crossword"></div>

<p>{{ project.description }}</p>

<script>
	(function(){
	    var params1 = {
	      hover_enabled: false,
	      settings_enabled: false,
	      color_selected: '#FF0000',
	      color_word: '#FFFF00',
		  savegame_name: 'puzzle1',
		  puzzle_file: {url: '{% static project.grid_path %}', type: 'puz'}
	    };
		CrosswordNexus.createCrossword($('div.crossword'), params1);
	})();
</script>
{% endblock %}
