{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<!-- TITLE -->
<title>Case vide - "{{ project.title}}" par {{ project.author_key.display_name}} </title>

<meta name="description" content="Case vide - Blog de mots croisés.
        Grille du {{ project.date_created }} par {{ project.author_key.display_name}}: {{ project.title }}">

<!-- SOCIAL MEDIA META -->

<!-- OpenGraph (Facebook) -->
<meta property="og:image" content="https://casevide.fr{{ project.preview_path }}"/>

<!-- Specific (Twitter) -->
<meta name="twitter:title" content="{{project.title}}">
<meta name="twitter:description" content="{{ project.twitter_card_clue }}">
<meta name="twitter:image" content="https://casevide.fr{{ project.preview_path }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="AntoineHinge">
{% endblock %}

{% block page_content %}

<!-- IMPORT SCRIPTS -->

<!-- Grid logic -->
<script type="text/javascript" src="{% static 'js/misc.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cluesgroup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/word.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crosswords.js' %}"></script>
<script type="text/javascript" src="{% static 'js/puz.js' %}"></script>

<!-- Pdf export -->
<script src="https://unpkg.com/jspdf@2.1.1/dist/jspdf.umd.min.js"></script>
<script type="text/javascript" src="{% static 'js/pdf/RobotoCondensed-normal.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdf/RobotoCondensed-bold.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdf/NunitoSans-Regular-bold.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdf/pdf_export.js' %}"></script>

<!-- Grid init -->
<script type="text/javascript" src="{% static 'js/init_grid.js' %}"></script>


<!-- TOP BAR: Title and buttons-->
<style>
    .float-button{
        position:fixed;
        top:100px;
        right:30px;
        text-align:center;
        z-index: 5;
    }
</style>

<div class="float-button">
    {% block button_bar %}
    <!-- TIMER BUTTON -->
    <button type="button" class="btn btn-secondary mx-1" id="timer-button" onclick="toggleHideGrid()">
        <a id="timer-value">00:00</a>
        <i id="timer-symbol" class="em em-double_vertical_bar"></i>
    </button>

    <!-- REVEAL AND CHECK -->
    <div class="btn-group mx-1 collapse collapseButtonBar" role="group" aria-label="Button group with nested dropdown">

        <!-- REVEAL BUTTON -->
        <div class="btn-group" role="group">
            <button id="dropdownReveal" type="button" class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown">
                <div class="em em-eye"></div>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" id="reveal-letter">Lettre</a>
                <a class="dropdown-item" id="reveal-word">Mot</a>
                <a class="dropdown-item" id="reveal-puzzle">Grille</a>
            </div>
        </div>

        <!-- CHECK BUTTON -->
        <div class="btn-group" role="group">
            <button id="dropdownCheck" type="button" class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown">
                <div class="em em-white_check_mark"></div>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" id="check-letter">Lettre</a>
                <a class="dropdown-item" id="check-word">Mot</a>
                <a class="dropdown-item" id="check-puzzle">Grille</a>
            </div>
        </div>

    </div>
    {% endblock %}

    <!-- SCORE BUTTON -->
    <button type="button" class="btn btn-secondary mx-1 collapse collapseButtonBar" data-toggle="modal"
            data-target="#best-scores-modal">
        <div class="em em-sports_medal"></div>
    </button>

    <!-- PDF BUTTON -->
    <button type="button" class="btn btn-secondary mx-1 collapse collapseButtonBar"
            onclick="puzdata_to_pdf(PUZAPP.puzdata, {outfile: 'CaseVide_{{ project.title|cut:" "|cut:"'" }}'})">
    <div class="em em-page_with_curl"></div>
    </button>

    <!-- OPEN & CLOSE BUTTON BAR -->
    <button type="button" class="btn btn-secondary mx-1 float-reveal-button" data-toggle="collapse" data-target=".collapseButtonBar">
    <div class="em em-heavy_plus_sign"></div>
    </button>

</div>

<!-- ALERT BARS -->
{% block alert_bars %}
<div class="row alert alert-success alert-dismissible fade show h5 align-middle" id="finish-success" role="alert">
    <i class="em em-sparkles"></i>
    <strong>Bravo!</strong> Vous avez fini la grille.
    <i class="em em-sparkles"></i>
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row alert alert-danger alert-dismissible fade show h5 align-middle" id="finish-warning" role="alert">
    <i class="em em-warning"></i>️
    <strong>Attention!</strong>️La grille est pleine mais il reste des erreurs.
    <i class="em em-warning"></i>
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}

<!-- MODALS-->
{% block grid_modals %}
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Submit form (pseudonym) -->
                <form id="submit-form">
                    <div class="form-group">
                        <label for="inputPseudo">Pseudo</label>
                        <input type="string" class="form-control" id="inputPseudo" placeholder="Entrez votre pseudo">
                        <small id="emailHelp" class="form-text text-muted">Gardez le même pseudo pour apparaître dans le
                            classement global.</small>
                        <div class="invalid-feedback" id="pseudo-feedback">
                            Ce pseudo correspond déjà à un score pour la grille.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Soumettre
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<div class="modal fade" id="best-scores-modal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-center">
                <h5><i class="em em-classical_building"></i> Panthéon <i class="em em-classical_building"></i></h5>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center" id="ranking-content">
                {% include "grid_scores.html" %}
            </div>
        </div>
    </div>
</div>

<!-- GRID AND CLUE LIST -->
<div class="mt-3" id="cw-grid-and-clues">

    <!-- HIDDEN INPUT -->
    <input type="text" id="hidden-input"
           style="opacity: 0; position: fixed; top: -100px; left: -100px; width: 0; height: 0; z-index: -1;">

    <div class="row auto normal">
        <!-- CANVAS HOLDER -->
        <div class="col-xl-6" id="cw-canvas-holder">
            <div class="row pl-3 pt-2 rounded" id="clue-bar" style="background-color: #ff7171;"><h3
                    id="cw-top-text"></h3></div>
            <canvas class="mt-2" id="cw-canvas" style="display: block; margin: 0 auto;"></canvas>
        </div>

        <!-- CLUE HOLDERS -->
        <div class="col-xl-3 d-none d-xl-block">
            <div class="text-center"><h5><b>Horizontalement</b></h5></div>
            <div id="cw-clues-top">
                <div id="cw-clues-top-holder" class="cw-clues-items overflow-auto"></div>
            </div>
        </div>
        <div class="col-xl-3 d-none d-xl-block">
            <div class="text-center"><h5><b>Verticalement</b></h5></div>
            <div id="cw-clues-bottom">
                <div id="cw-clues-bottom-holder" class="cw-clues-items overflow-auto"></div>
            </div>
        </div>
    </div>

</div>

<script>
    {% block js_grid_init %}
    init_grid('{{ project.pk }}', '{{ project.grid_file.url }}');
    {% endblock %}

</script>
{% endblock %}
