<div class="container">
    {% for score in scores %}
    <div class="row mb-2 {% if name == score.pseudo %}font-weight-bold{% endif %}">
        <div class="col-6">
            {% if score.rank == 1 %}
            <i class="em em-first_place_medal" aria-role="presentation"
               aria-label="MEDAILLE D'OR"></i>
            {% elif score.rank == 2 %}
            <i class="em em-second_place_medal" aria-role="presentation"
               aria-label="MEDAILLE D'ARGENT"></i>
            {% elif score.rank == 3 %}
            <i class="em em-third_place_medal" aria-role="presentation"
               aria-label="MEDAILLE DE BRONZE"></i>
            {% else %}
            <i class="em em-sports_medal" aria-role="presentation"
               aria-label="MEDAILLE"></i>
            {% endif %}
            {{ score.pseudo }}
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            {% if type == "meta" %}
            {{ score.solved_at }}
            {% else %}
            {{ score.get_minute_secs }}
            {% endif%}
        </div>
    </div>
    {% endfor %}
</div>