{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!-- EDITO BLOCK -->
<div class="row no-gutters bg-light position-relative mt-4">
    <div class="col-md-2 mb-md-0 p-md-4">
        <img src="static/img/logo.png" class="w-100" alt="...">
    </div>
    <div class="col-md-10 p-4 pl-md-0">
        <h5 class="mt-0">{{ edito.title }}</h5>
        <p> {{ edito.date_created }} </p>
        <p>{{ edito.content }}</p>
    </div>
</div>

<!-- GRID VIEW BLOCK -->
<h2 class="mt-4"> Les dernières grilles </h2>

<div class="row">
    {% for project in projects %}
    <div class="col-md-2">
        <div class="card">
            <div class="card-header text-center">
                {{ project.title }}
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="static/img/logo.png" alt="Solving the grid">
                <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary stretched-link">
                    Je joue
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

