{% extends "base.html" %}
{% load static %}

{% block page_content %}
<link href="{% static 'css/crosswordnexus.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/crosswords.js' %}"></script>
<script type="text/javascript" src="{% static 'js/puz.js' %}"></script>

<script src="{% static 'lib/jquery.js' %}"></script>
<script src="{% static 'lib/zip/zip.js' %}"></script>
<script src="{% static 'lib/jspdf.min.js' %}"></script>

<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <div class="crossword"></div>
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
    </div>
</div>

<script>
	(function(){
	    var params1 = {
	      hover_enabled: false,
	      settings_enabled: false,
	      color_selected: '#FF0000',
	      color_word: '#FFFF00',
		  savegame_name: 'puzzle1',
		  puzzle_file: {url: '{% static project.grid_path %}', type: 'puz'}
	    };
		CrosswordNexus.createCrossword($('div.crossword'), params1);
	})();
</script>
{% endblock %}
