{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block social_meta %}
    <!-- TITLE -->
    <title>Case vide - Archive des grilles </title>

    <meta name="description" content="Case vide - Archives des grilles">
{% endblock %}

{% block page_content %}

<!-- JAVASCRIPT BLOCK -->
<script type="text/javascript" src="{% static 'js/status.js' %}"></script>


<!-- COMMENT MODAL -->
<div class="modal fade" id="commentModal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Commentaires <i class="em em-speech_balloon"></i></h5>
            </div>
            <div class="modal-body">
                <div class="container" id="commentDiv">
                    {% include "grid_comments.html" %}
                </div>
                <hr>

                <div>
                    <form id="commentForm">
                        <!-- COMMENT PSEUDONYM -->
                        <div class="form-group">
                            <label for="inputPseudoComment">Pseudo</label>
                            <input type="string" class="form-control" id="inputPseudoComment" placeholder="Entrez votre pseudo">
                            <div class="invalid-feedback" id="commentPseudoFeedback">Champ obligatoire.</div>
                        </div>

                        <!-- COMMENT TEXT -->
                        <div class="form-group">
                            <label for="inputComment">Commentaire</label>
                            <textarea class="form-control" id="inputComment" rows="3"></textarea>
                            <div class="invalid-feedback" id="commentTextFeedback">Champ obligatoire.</div>
                        </div>

                        <!-- SUBMIT BUTTON -->
                        <button type="submit" class="btn btn-primary">Envoyer
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- TABLE BLOCK -->
<div class="row mt-4">

    <div class="col-xl-1"></div>

    <form class="col-lg-2" method="get">
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit">Rechercher</button>
    </form>

    <table class="col-lg-8 table ">
        <thead>
        <tr>
            <th class="th-sm">Nom
            </th>
            <th class="th-sm">Auteur - Autrice
            </th>
            <th class="th-sm">Type
            </th>
            <th class="th-sm">Taille
            </th>
            <th class="th-sm">Date
            </th>
            <th class="th-sm">Statut
            </th>
            <th class="th-sm">Commentaires
            </th>
            <th class="th-sm">Résolution
            </th>
        </tr>
        </thead>
        <tbody>
        {% for grid in grids %}
        <tr>
            <td><a href="{% url 'project_detail' grid.pk %}">{{ grid.title }}</a></td>
            <td><a href="{% url 'author_page' grid.author_key.name %}">{{ grid.author_key.display_name }}</a></td>
            <td>{{ grid.grid_type_str }}</td>
            <td>{{ grid.grid_size_str }}</td>
            <td>{{ grid.date_created }}</td>
            <td><i id="status-{{ grid.pk }}" class="em"></i></td>
            <td>
                <!-- COMMENT BUTTON -->
                <button type="button" class="btn" data-toggle="modal" data-target="#commentModal"
                        onclick="$('#commentDiv').html('').load('{% url 'grid_comments' grid.pk %}')">
                <div class="em em-speech_balloon"></div>
                </button>
            </td>
            <td><span class="badge badge-primary badge-pill">{{ grid.solve_count }}</span></td>
        </tr>
        <script>get_status({{grid.pk}}, '{{grid.is_new}}')</script>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row mt-1">
    <div class="col-xl-3"></div>

    <nav aria-label="Page navigation" class="col-sm-8">
        <ul class="pagination">
            {% if grids.has_previous %}
            <li class="page-item"><a class="page-link" href="?{{ pagnav.first }}">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?{{ pagnav.previous }}"><</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link">Page {{ grids.number }} sur {{ grids.paginator.num_pages }}.</a>
            </li>

            {% if grids.has_next %}
            <li class="page-item"><a class="page-link" href="?{{ pagnav.next }}">></a></li>
            <li class="page-item"><a class="page-link" href="?{{ pagnav.last }}">&raquo;</a></li>
            {% endif %}

        </ul>
    </nav>
</div>

{% endblock %}