{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="btn-group mt-4" role="group">
  <button type="button" class="btn btn-secondary">Classique</button>
  <button type="button" class="btn btn-secondary">Cryptique</button>
</div>

<ul class="list-group mt-4">
    {% for project in projects %}
    <li class="list-group-item ">
        <div>
            <a href="{% url 'project_detail' project.pk %}">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">{{ project.title }}</div>
                        <div class="col-sm-2">{{ project.author }}</div>
                        <div class="col-sm-2">{{ project.date_created }}</div>
                        <div class="col-sm-2">Résolu {{ project.solve_count }} fois</div>
                    </div>
                </div>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>

</div>
{% endblock %}