{% extends "grid_detail.html" %}

{% block top_bar %}
<div class="row mt-2">

    <!-- TITLE -->
    <div class="col-6">
        <h2>{{ project.title }}</h2>
    </div>

    <!-- BUTTONS -->
    <div class="col-6">
        <!-- SCORE BUTTON -->
        <button type="button" class="btn btn-primary float-right mx-1" data-toggle="modal" data-target="#best-scores-modal">
            <div class="d-xl-inline d-none">Voir les scores</div><div class="em em-sports_medal d-xl-none"></div>
        </button>

        <!-- POST BUTTON -->
        <button type="button" class="btn btn-primary float-right mx-1" id="open-modal-button" data-toggle="modal" data-target="#answerModal">
            <div class="d-xl-inline d-none">Poster ma réponse</div><div class="em em-incoming_envelope d-xl-none"></div>
        </button>
    </div>

</div>

<!-- INSTRUCTIONS -->
<div class="row mt-1">
    <h4>{{ project.meta_question }}</h4>
</div>

{% endblock %}

{% block alert_bars %}
{% endblock %}

{% block grid_modals %}
<div class="modal fade" id="answerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Submit form -->
                <form id="submit-form">
                    <div class="form-group">
                        <!-- Pseudo field -->
                        <label for="inputPseudo">Pseudo</label>
                        <input type="string" class="form-control" id="inputPseudo" placeholder="Entrez votre pseudo">
                        <div class="invalid-feedback" id="pseudo-feedback"></div>

                        <!-- Answer field -->
                        <label for="inputPseudo" class="mt-4">Réponse</label>
                        <input type="string" class="form-control" id="inputAnswer" placeholder="Entrez votre réponse">
                        <small id="answerHelp" class="form-text text-muted">{{ project.meta_question }}</small>
                        <div class="invalid-feedback" id="answerFeedback"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Soumettre
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block score_type %}
{{ score.solved_at }}
{% endblock %}

{% block js_grid_init %}
init_meta('{{ project.pk }}', '{{ project.grid_file.url }}');
{% endblock %}
