{% extends "grid_detail.html" %}

{% block meta_question %}
<h2>{{ project.title}} </h2>
<h4>{{ project.meta_question }}</h4>
{% endblock %}

{% block xword_buttons %}

<div class="btn-group float-right mx-1" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-primary" id="open-modal-button" data-toggle="modal" data-target="#answerModal">
        Poster ma réponse
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#best-scores-modal">
        Voir les scores
    </button>
</div>

{% endblock %}

{% block alert_bars %}
{% endblock %}

{% block grid_modals %}
<div class="modal fade" id="answerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Submit form -->
                <form id="submit-form">
                    <div class="form-group">
                        <!-- Pseudo field -->
                        <label for="inputPseudo">Pseudo</label>
                        <input type="string" class="form-control" id="inputPseudo" placeholder="Entrez votre pseudo">
                        <div class="invalid-feedback" id="pseudo-feedback">
                            Ce pseudo correspond déjà à un score pour la grille.
                        </div>

                        <!-- Answer field -->
                        <label for="inputPseudo" class="mt-4">Réponse</label>
                        <input type="string" class="form-control" id="inputAnswer" placeholder="Entrez votre réponse">
                        <small id="answerHelp" class="form-text text-muted">{{ project.meta_question }}</small>
                        <div class="invalid-feedback" id="answerFeedback">
                            Ce n'est pas la bonne réponse.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Soumettre
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block score_type %}
{{ score.solved_at }}
{% endblock %}
