{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href = "{% static "scrabeille/spelling_bee.css" %}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Slab:300,400,500,600,700&display=swap" rel="stylesheet">

<!-- JSZip -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js" integrity="sha512-xQBQYt9UcgblF6aCMrwU1NkVA7HCXaSN2oq0so80KO+y68M+n64FOcqgav4igHe6D5ObBLIf68DWv+gfBowczg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- TITLE -->
<title>Scrabeille - "{{ project.title }}" par {{ project.author_key.display_name }} </title>

<meta name="description" content="Case vide - Blog de mots croisés.
        Scrabeille du {{ project.date_created }} par {{ project.author_key.display_name}}: {{ project.title }}">

<!-- SOCIAL MEDIA META -->

<!-- OpenGraph (Facebook) -->
<meta property="og:image" content="{% static 'img/logo_scrabeille.png' %}"/>

<!-- Specific (Twitter) -->
<meta name="twitter:title" content="{{project.title}}">
<meta name="twitter:description" content="{{ project.twitter_card_clue }}">
<meta name="twitter:image" content="{% static 'img/logo_scrabeille.png' %}">
<meta name="twitter:card" content="summary">
{% endblock %}

{% block page_content %}

<!-- MODALS -->
<div class="modal fade" id="questionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Règles</h5>
                <ul style="list-style: none;">
                    <li>Trouvez des anagrammes en utilisant les lettres des alvéoles.</li>
                    <li>Une anagramme doit avoir au moins quatre lettres et contenir la lettre de l'alvéole centrale.
                    </li>
                    <li>Une des anagrammes est un pangramme (i.e. un mots contenant toutes les lettres du puzzle).
                    </li>
                </ul>

                <h5>Liste de mots</h5>
                <p>
                    La liste de mots utilisée est le dernier dico francophone du Scrabble (ODS8).
                </p>

                <h5>Points</h5>
                <p>
                    Les points sont comptés de la manière suivante :
                    <ul>
                        <li>1 point pour les mots de 4 lettres</li>
                        <li>N points pour les mots de 5 lettres ou plus (N étant la taille du mot)</li>
                        <li>+7 points par mot pour le(s) pangramme(s)</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="answerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Submit form -->
                <form id="submit-form">
                    <div class="form-group">
                        <!-- Pseudo field -->
                        <label for="inputPseudo">Pseudo</label>
                        <input type="string" class="form-control" id="inputPseudo" placeholder="Entrez votre pseudo">
                        <div class="invalid-feedback" id="pseudo-feedback"></div>

                        <!-- Answer field -->
                        <label for="inputPseudo" class="mt-4">Réponse</label>
                        <input type="string" class="form-control" id="inputAnswer" placeholder="Entrez votre réponse">
                        <div class="invalid-feedback" id="answerFeedback"></div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">
                        Soumettre
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="best-scores-modal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-center">
                <h5><i class="em em-classical_building"></i> Panthéon <i class="em em-classical_building"></i></h5>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center" id="ranking-content">
                {% include "grid_scores.html" %}
            </div>
        </div>
    </div>
</div>

<!-- BUTTONS -->
<div class="nav bg-light d-flex">
    <div class="ms-3 pt-1 d-flex align-items-center me-auto h5">
        <b class="pe-2">{{ project.title}}</b> par <i class="ps-2">{{ project.author_key.display_name}}</i>
    </div>

    <!-- INFORMATION BUTTON -->
    <button type="button" class="nav-link btn" id="question-button" data-bs-toggle="modal"
            data-bs-target="#questionModal">
        <div class="em em-question"
             data-toggle="tooltip" data-placement="bottom" title="Voir la question"></div>
    </button>

    <!-- POST BUTTON -->
    <button type="button" class="nav-link btn" id="open-modal-button" data-bs-toggle="modal"
            data-bs-target="#answerModal">
        <div class="em em-incoming_envelope"
             data-bs-toggle="tooltip" data-bs-placement="bottom" title="Soumettre ma réponse"></div>
    </button>

    <!-- SCORE BUTTON -->
    <button type="button" class="nav-link btn" data-bs-toggle="modal"
            data-bs-target="#best-scores-modal">
        <div class="em em-sports_medal"
             data-toggle="tooltip" data-placement="bottom" title="Voir les scores"></div>
    </button>

    <!-- COMMENT BUTTON -->
    <button type="button" class="nav-link btn"
            data-bs-toggle="modal" data-bs-target="#commentModal">
        <div class="em em-speech_balloon"
             data-toggle="tooltip" data-placement="bottom" title="Voir les commentaires"></div>
    </button>
</div>

<body onkeydown="input_from_keyboard(event)">

    <div id="canvasContainer" class="row auto mt-2">

        <!-- HEXAGON GRID -->
        <div id="divHexGrid" class="col-xl-6">

            <!-- NOTIFICATIONS -->
            <div class="container" style="height:40px; align-items:center;">
                <p id="too-short" class="notifications">Trop court</p>
                <p id="good" class="notifications">Bien ! <span class="points"></span></p>
                <p id="great" class="notifications">Super ! <span class="points"></span></p>
                <p id="amazing" class="notifications">Génial ! <span class="points"></span></p>
                <p id="pangram" class="notifications">Pangramme !! <span class="points"></span></p>
                <p id="already-found" class="notifications">Déjà trouvé</p>
                <p id="invalid-word" class="notifications">Mot non valide</p>
                <p id="miss-center" class="notifications">Lettre centrale manquante</p>
            </div>

            <!-- INPUT WORD -->
            <div class="cursor">
                <p id="inputword" class="text-uppercase"><span id="testword"></span><span id="cursor">|</span></p>
            </div>

            <!-- HEX GRID -->
            <ul id="hexGrid"></ul>

            <!-- BUTTON BAR -->
            <div>
                <button id="submit_button" type="button" class="btn btn-light mx-1" onclick="submitWord()">Entrée</button>
                <button id="shuffle_button" type="button" class="btn btn-light mx-1" onclick="shuffleLetters()">
                    <img src="{% static "scrabeille/shuffle_icon.png" %}" style="width:1.2em">
                </button>
                <button id="delete_button" type="button" class="btn btn-light mx-1" onclick="deleteLetter()">Supprimer</button>
            </div>
        </div>

        <div class="container col-xl-6" id="scoreboard">

            <h4>Mots trouvés</h4>
            <div id="discoveredText">
            </div>

            <h4>Score</h4>
            <div>Vous avez trouvé <span id="numfound">0</span>/<span
                    id="totalWords">0</span> mot(s).
            </div>

            <div>Score : <span id="score">0</span>/<span id="maxscore">0</span>.
            </div>
        </div>
    </div>

<script type="text/javascript" src="{% static "scrabeille/spelling_bee.js" %}"></script>
<script type="text/javascript">
    initialize_game({{puzzle.wordList|safe}}, '{{puzzle.requiredLetter}}', '{{puzzle.optionalLetters}}');
</script>

</body>
{% endblock %}
