{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href = "{% static "scrabeille/spelling_bee.css" %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Slab:300,400,500,600,700&display=swap" rel="stylesheet">

<!-- TITLE -->
<title>Scrabeille - "{{ project.title }}" par {{ project.author_key.display_name }} - Case Vide</title>

<meta name="description" content="Case vide - Blog de mots croisés.
        Scrabeille du {{ project.date_created }} par {{ project.author_key.display_name}}: {{ project.title }}">

<!-- SOCIAL MEDIA META -->

<!-- OpenGraph (Facebook) -->
<meta property="og:image" content="https://casevide.fr{% static 'img/logo_scrabeille.png' %}"/>

<!-- Specific (Twitter) -->
<meta name="twitter:title" content="{{project.title}}">
<meta name="twitter:description" content="Trouvez le plus d'anagrammes avec les 7 lettres proposées !">
<meta name="twitter:image" content="https://casevide.fr{% static 'img/logo_scrabeille.png' %}">
<meta name="twitter:card" content="summary">
{% endblock %}

{% block page_content %}

<!-- MODALS -->
<div class="modal fade" id="questionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Règles</h5>
                <ul style="list-style: none;">
                    <li>Trouvez des anagrammes en utilisant les lettres des alvéoles.</li>
                    <li>Une anagramme doit avoir au moins quatre lettres et contenir la lettre de l'alvéole centrale.
                    </li>
                    <li>Une anagramme peut contenir plusieurs fois les autres lettres.</li>
                    <li>Une des anagrammes est un pangramme (i.e. un mots contenant toutes les lettres du puzzle).
                    </li>
                </ul>

                <h5>Liste de mots</h5>
                <p>
                    La liste de mots utilisée est le dernier dico francophone du Scrabble (ODS8).
                </p>

                <h5>Points</h5>
                <p>
                    Les points sont comptés de la manière suivante :
                    <ul>
                        <li>1 point pour les mots de 4 lettres</li>
                        <li>N points pour les mots de 5 lettres ou plus (N étant la taille du mot)</li>
                        <li>+7 points par mot pour le(s) pangramme(s)</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="answerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Envoyer ou mettre à jour son score</h5>
            </div>
            <div class="modal-body">
                <!-- Submit form -->
                <form id="submit-form">
                    <div class="form-group">
                        <!-- Pseudo field -->
                        <label for="inputPseudo">Pseudo</label>
                        <input type="string" class="form-control" id="inputPseudo" placeholder="Entrez votre pseudo">
                        <div class="invalid-feedback" id="pseudo-feedback"></div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">
                        Soumettre
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="solutionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mt-3 hiddenSolution" style="display:none;">
                    <div id="allWords">
                    </div>
                </div>

                <div class="ms-auto mt-1">
                    <button class="ml-4 btn btn-secondary"
                            onclick="$('#open-modal-button').addClass('disabled'); $('.hiddenSolution').show();">
                        Solution
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Commentaires <i class="em em-speech_balloon"></i></h5>
            </div>
            <div class="modal-body">
                <div class="container" id="commentDiv">
                    {% include "grid_comments.html" %}
                </div>
                <hr>

                <div>
                    <button type="button" class="btn btn-secondary mx-1 float-reveal-button" data-bs-toggle="collapse"
                            data-bs-target="#commentForm">
                    <div class="em em-heavy_plus_sign"></div>
                    </button>

                    <form id="commentForm" class="collapse mt-4">
                        <!-- COMMENT PSEUDONYM -->
                        <div class="form-group">
                            <label for="inputPseudoComment">Pseudo</label>
                            <input type="string" class="form-control" id="inputPseudoComment" placeholder="Entrez votre pseudo">
                            <div class="invalid-feedback" id="commentPseudoFeedback">Champ obligatoire.</div>
                        </div>

                        <!-- COMMENT TEXT -->
                        <div class="form-group">
                            <label for="inputComment">Commentaire</label>
                            <textarea class="form-control" id="inputComment" rows="3"></textarea>
                            <div class="invalid-feedback" id="commentTextFeedback">Champ obligatoire.</div>
                        </div>

                        <!-- SUBMIT BUTTON -->
                        <button type="submit" class="btn btn-primary mt-1">Envoyer
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- BUTTONS -->
<div class="nav bg-light d-flex">
    <div class="ms-3 pt-1 d-flex align-items-center me-auto h5">
        <b class="pe-2">{{ project.title}}</b> par <i class="ps-2">{{ project.author_key.display_name}}</i>
    </div>

    <!-- INFORMATION BUTTON -->
    <button type="button" class="nav-link btn" id="question-button" data-bs-toggle="modal"
            data-bs-target="#questionModal">
        <div class="em em-question"
             data-toggle="tooltip" data-placement="bottom" title="Voir les règles"></div>
    </button>

    <button type="button" class="nav-link btn" id="solution-button" data-bs-toggle="modal"
        data-bs-target="#solutionModal">
    <div class="em em-eye"
         data-bs-toggle="tooltip" data-bs-placement="bottom" title="Voir la solution"></div>
    </button>

    <!-- POST BUTTON -->
    <button type="button" class="nav-link btn" id="open-modal-button" data-bs-toggle="modal"
            data-bs-target="#answerModal">
        <div class="em em-incoming_envelope"
             data-bs-toggle="tooltip" data-bs-placement="bottom" title="Soumettre mon score"></div>
    </button>

    <!-- SCORE BUTTON -->
    <a type="button" class="nav-link btn" href="{% url 'grid_score' project.pk %}">
        <div class="em em-sports_medal"
             data-toggle="tooltip" data-placement="bottom" title="Voir les scores"></div>
    </a>

    <!-- COMMENT BUTTON -->
    <button type="button" class="nav-link btn"
            data-bs-toggle="modal" data-bs-target="#commentModal">
        <div class="em em-speech_balloon"
             data-toggle="tooltip" data-placement="bottom" title="Voir les commentaires"></div>
    </button>
</div>

<body onkeydown="input_from_keyboard(event)">

    <div id="canvasContainer" class="row auto mt-2">

        <!-- HEXAGON GRID -->
        <div id="divHexGrid" class="col-xl-6">

            <!-- NOTIFICATIONS -->
            <div class="container" style="height:40px; align-items:center;">
                <p id="too-short" class="notifications">Trop court</p>
                <p id="good" class="notifications">Bien ! <span class="points"></span></p>
                <p id="great" class="notifications">Super ! <span class="points"></span></p>
                <p id="amazing" class="notifications">Génial ! <span class="points"></span></p>
                <p id="pangram" class="notifications">Pangramme !! <span class="points"></span></p>
                <p id="already-found" class="notifications">Déjà trouvé</p>
                <p id="invalid-word" class="notifications">Mot non valide</p>
                <p id="miss-center" class="notifications">Lettre centrale manquante</p>
            </div>

            <!-- INPUT WORD -->
            <div class="cursor">
                <p id="inputword" class="text-uppercase"><span id="testword"></span><span id="cursor">|</span></p>
            </div>

            <!-- HEX GRID -->
            <ul id="hexGrid"></ul>

            <!-- BUTTON BAR -->
            <div>
                <button id="submit_button" type="button" class="btn btn-light mx-1" onclick="submitWord()">Entrée</button>
                <button id="shuffle_button" type="button" class="btn btn-light mx-1" onclick="shuffleLetters()">
                    <img src="{% static "scrabeille/shuffle_icon.png" %}" style="width:1.2em">
                </button>
                <button id="delete_button" type="button" class="btn btn-light mx-1" onclick="deleteLetter()">Supprimer</button>
            </div>
        </div>

        <div class="container col-xl-6" id="scoreboard">

            <h4>Mots trouvés</h4>
            <div id="discoveredText">
            </div>

            <h4>Score</h4>
            <div>Vous avez trouvé <span id="numfound">0</span>/<span
                    id="totalWords">0</span> mot(s).
            </div>

            <div>Score : <span id="score">0</span>/<span id="maxscore">0</span>.
            </div>
        </div>
    </div>

<script type="text/javascript" src="{% static "scrabeille/spelling_bee.js" %}"></script>
<script type="text/javascript" src="{% static 'js/init_grid.js' %}"></script>
<script type="text/javascript">
    init_scrabeille();
    initialize_game({{project.pk}}, {{puzzle.wordList|safe}}, '{{puzzle.requiredLetter}}', '{{puzzle.optionalLetters}}');
</script>

</body>
{% endblock %}
