{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href = "{% static "scrabeille/spelling_bee.css" %}">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Slab:300,400,500,600,700&display=swap" rel="stylesheet">

<!-- JSZip -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js" integrity="sha512-xQBQYt9UcgblF6aCMrwU1NkVA7HCXaSN2oq0so80KO+y68M+n64FOcqgav4igHe6D5ObBLIf68DWv+gfBowczg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- TITLE -->
<title>Scrabeille - "{{ project.title }}" par {{ project.author_key.display_name }} </title>

<meta name="description" content="Case vide - Blog de mots croisés.
        Scrabeille du {{ project.date_created }} par {{ project.author_key.display_name}}: {{ project.title }}">

<!-- SOCIAL MEDIA META -->

<!-- OpenGraph (Facebook) -->
<meta property="og:image" content="https://casevide.fr{{ project.preview_path }}"/>

<!-- Specific (Twitter) -->
<meta name="twitter:title" content="{{project.title}}">
<meta name="twitter:description" content="{{ project.twitter_card_clue }}">
<meta name="twitter:image" content="https://casevide.fr{{ project.preview_path }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="AntoineHinge">

{% endblock %}

{% block page_content %}
<body onkeydown="input_from_keyboard(event)">

    <div id="canvasContainer" class="row auto mt-2">

        <!-- HEXAGON GRID -->
        <div id="divHexGrid" class="col-xl-6">

            <!-- NOTIFICATIONS -->
            <div class="container" style="height:40px; align-items:center;">
                <p id="too-short" class="notifications">Trop court</p>
                <p id="good" class="notifications">Bien ! <span class="points"></span></p>
                <p id="great" class="notifications">Super ! <span class="points"></span></p>
                <p id="amazing" class="notifications">Génial ! <span class="points"></span></p>
                <p id="pangram" class="notifications">Pangramme !! <span class="points"></span></p>
                <p id="already-found" class="notifications">Déjà trouvé</p>
                <p id="invalid-word" class="notifications">Mot non valide</p>
                <p id="miss-center" class="notifications">Lettre centrale manquante</p>
            </div>

            <!-- INPUT WORD -->
            <div class="cursor">
                <p id="inputword" class="text-uppercase"><span id="testword"></span><span id="cursor">|</span></p>
            </div>

            <!-- HEX GRID -->
            <ul id="hexGrid"></ul>

            <!-- BUTTON BAR -->
            <div>
                <button id="submit_button" type="button" class="btn btn-light mx-1" onclick="submitWord()">Entrée</button>
                <button id="shuffle_button" type="button" class="btn btn-light mx-1" onclick="shuffleLetters()">
                    <img src="{% static "scrabeille/shuffle_icon.png" %}" style="width:1.2em">
                </button>
                <button id="delete_button" type="button" class="btn btn-light mx-1" onclick="deleteLetter()">Supprimer</button>
            </div>
        </div>

        <div class="container col-xl-6" id="scoreboard">

            <h4>Mots trouvés</h4>
            <div id="discoveredText">
            </div>

            <h4>Score</h4>
            <div>Vous avez trouvé <span id="numfound">0</span>/<span
                    id="totalWords">0</span> mot(s).
            </div>

            <div>Score : <span id="score">0</span>/<span id="maxscore">0</span>.
            </div>
        </div>
    </div>

<script type="text/javascript" src="{% static "scrabeille/spelling_bee.js" %}"></script>
<script type="text/javascript">
    var qsRequired = 'q';
    var qsOptional = 'perout';
    var wordList = ['perroquet', 'tuque'];

    initialize_game(wordList, qsRequired, qsOptional);
</script>

</body>
{% endblock %}
