{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<title>Case Vide - Outil de construction</title>
{% endblock %}

{% block page_content %}

<!-- ALERT FOR ADDING BLACK SQUARES -->
<div class="alert alert-success" role="alert">
    Appuyez sur <span class="font-weight-bold">"!"</span> pour ajouter une case noire.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- NEW GRID MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Format de la nouvelle grille</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="nbRowInput">Nb. lignes</label>
                        <input class="form-control" id="nbRowInput" placeholder="7">
                    </div>
                    <div class="form-group col-6">
                        <label for="nbColInput">Nb. colonnes</label>
                        <input class="form-control" id="nbColInput" placeholder="7">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        onclick="createNewPuzzle($('#nbRowInput').val(),$('#nbColInput').val());">
                    Créer
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">

    <!-- TITLE AND AUTHOR -->
    <div class="col-6">
        <h1><span id="puzzle-title" class="editable" contenteditable="true"
                  onkeydown="suppressEnterKey(event)" onfocusout="setTitle()">Titre</span>
            par <span id="puzzle-author" class="editable" contenteditable="true"
                      onkeydown="suppressEnterKey(event)" onfocusout="setAuthor()">Auteur</span></h1>
    </div>

    <!-- DEFINITIONS SUGGESTIONS TOGGLE -->
    <div class="col-6">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active"
                   onclick="$('.suggestions').collapse('show');
                   $('.clues').collapse('hide');">
                <input type="radio" name="options" autocomplete="off" checked> Suggestions
            </label>
            <label class="btn btn-secondary"
                   onclick="$('.suggestions').collapse('hide');
                   $('.clues').collapse('show');">
                <input type="radio" name="options" autocomplete="off"> Définitions
            </label>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xl-6">
        <div id="toolbar">
            <button id="new-grid" type="button" data-tooltip="Nouvelle grille"
                    data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
            </button>
            <input id="open-puzzle-input" class="hidden" type="file" accept=".json,.txt,.xw,.puz"/>
            <div id="export-menu" class="menu hidden" onmouseleave="hideMenu(event)">
                <h4>Exporter au format:</h4>
                <button id="export-PUZ" type="button" data-tooltip="Across Lite (.puz)" onclick="writeFile('puz')">
                    <i class="fa fa-download fa-fw" aria-hidden="true"></i>
                </button>
                <button id="print-puzzle" type="button" data-tooltip="PDF (.pdf)" onclick="writeFile('pdf')">
                    <i class="fa fa-print fa-fw" aria-hidden="true"></i>
                </button>
            </div>
            <button id="export" type="button" data-tooltip="Sauver" onmouseenter="showMenu(event)">
                <i class="fa fa-download fa-fw" aria-hidden="true"></i>
            </button>
            <a id="download-puzzle-link" class="hidden">Download puzzle</a>

            <div class="divider"></div>

            <button id="clear-fill" type="button" data-tooltip="Vider la grille" onclick="clearFill()">
                <i class="fa fa-eraser fa-fw" aria-hidden="true"></i>
            </button>
        </div>

        <div id="main"></div>
    </div>

    <div class="col-3">
        <h5><b>Horizontalement</b></h5>

        <!-- ACROSS SUGGESTIONS -->
        <div class="suggestions collapse show">
            <div id="across-heading" class="direction-heading">
                <div id="across-word" class="current-word"></div>
            </div>
            <ul id="across-matches" class="matches" style="height:60vh;overflow:auto;"></ul>
        </div>

        <!-- ACROSS CLUES -->
        <div id="acrossClues" class="clues collapse"></div>
    </div>

    <div class="col-3">
        <div><h5><b>Verticalement</b></h5></div>

        <!-- DOWN SUGGESTIONS -->
        <div class="suggestions collapse show">
            <div id="down-heading" class="direction-heading">
                <div id="down-word" class="current-word"></div>
            </div>
            <ul id="down-matches" class="matches" style="height:60vh;overflow:auto;"></ul>
        </div>

        <!-- DOWN CLUES -->
        <div id="downClues" class="clues collapse"></div>
    </div>
</div>

<!-- Basic scripts -->
<script src="{% static 'js/puz.js' %}"></script>
<script src="{% static 'js/construction_tool/cross.js' %}"></script>
<script src="{% static 'js/construction_tool/wordlist.js' %}"></script>
<script src="{% static 'js/construction_tool/files.js' %}"></script>

<!-- Pdf export -->
<script src="https://unpkg.com/jspdf@2.1.1/dist/jspdf.umd.min.js"></script>
<script type="text/javascript" src="{% static 'js/pdf/RobotoCondensed-normal.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdf/RobotoCondensed-bold.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdf/NunitoSans-Regular-bold.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdf/pdf_export.js' %}"></script>

{% endblock %}
