{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<!-- TITLE -->
<title>Case vide - Méta, comment jouer?</title>

<meta name="description" content="Case vide - Méta, comment jouer?">

<!-- SOCIAL MEDIA META -->

<!-- OpenGraph (Facebook) -->
<meta property="og:image" content="https://casevide.fr/static/img/logo.png"/>

<!-- Specific (Twitter) -->
<meta name="twitter:title" content="Comment créer une mini-grille de mots croisés?">
<meta name="twitter:description" content="Un tutoriel pour créer des mini-grilles.">
<meta name="twitter:image" content="https://casevide.fr/static/img/logo.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="AntoineHinge">
{% endblock %}

{% block page_content %}
<div class="row mt-3">

    <!-- TUTORIAL -->
    <div class="col-xl-6">

        <h3>Se lancer dans la création de grilles</h3>
        <hr>

        <p class="text-justify">
            Ca y est vous avez décidé de vous lancer.
            Que vous soyez novice ou chevronné·e dans la résolution de mots croisés, que vous soyez amateur·rice de
            lettres ou ayez la bosse des maths, la construction de grille est pour vous!
            La construction offre un espace d'expression où il est permis de jouer avec la langue comme bon vous semble.
            Parler de sujets de société, de pop culture, mettre en lumière un vocabulaire, tout ça est possible.
            Voici quelques clefs pour créer soi-même une grille.
        </p>

        <h3>Le b.a.-ba</h3>
        <hr>

        <p class="text-justify">
            Une grille de mots croisés est composée des éléments suivants:
            <ul>
                <li>Un titre</li>
                <li>Un thème (optionnel)</li>
                <li>Une grille composée de mots délimités par des cases noires</li>
                <li>Une définion par entrée de la grille</li>
            </ul>

            Pour créer votre grille, il vous faudra dans l'ordre: trouver un thème (si applicable), remplir la grille et
            écrire les définitions qui correspondent aux entrées de la grille.
        </p>
        <p>
            Remplir la grille est souvent la partie la plus complexe de l'exercice. Faire que les mots se croisent
            correctement tout en assurant un remplissage agréable à résoudre n'est pas aisé. Vous pouvez tenter de
            remplir la grille à la main ou utiliser un logiciel pour vous aider :
            <ul>
                <li>Crossword Compiler <i>(Windows, payant)</i></li>
                <li>Crossfire <i>(Multiplateforme, payant)</i></li>
                <li>QxW <i>(Multiplateforme, gratuit, pas d'édition de définition)</i></li>
            </ul>
            Ces logiciels reposent sur une liste de mots pour vous aider à remplir la grille. Cette grille permet à
            l'ordinateur de trouver des mots correspondant à un motif de lettres. <b>Par exemple</b>, le motif T*T*
            peut être complété par les entrées TETE, TATA, TATI, TOTO... Les solveurs en lignes peuvent aussi vous
            aider, si vous remplissez à la main (<a href="https://www.fsolver.fr/">FSolver</a>).
        </p>
        <p>
            Sur Case Vide, nous proposons aussi <a href="{% url 'construction_tool' %}">un outil basique</a> pour vous aider à créer vos propres grilles.
        </p>

    </div>

    <!-- EXAMPLE -->
    <div class="col-xl-6">
    </div>
</div>

{% endblock %}