{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<!-- TITLE -->
<title>{{ title }}</title>

<meta name="description" content="{{ title }}">

<!-- SOCIAL MEDIA META -->

<!-- OpenGraph (Facebook) -->
<meta property="og:image" content="https://casevide.fr/static/img/logo.png"/>

<!-- Specific (Twitter) -->
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="RESUME A ECRIRE">
<meta name="twitter:image" content="https://casevide.fr/static/img/logo.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="AntoineHinge">

<link href="{% static 'css/blog_post_style.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}


<div class="d-flex justify-content-center">
    <div style="max-width: 80em" >
        <!-- TITLE AND INFO -->
        <div class="mb-4 blog_header">
            <p class="h2 text-uppercase mb-0"> {{title}} </p>
            <p class="h5 text-uppercase text-muted"> subtitles and other things </p>
            <p class="h5 text-muted">
                <span class="me-4"><i class="bi bi-pen-fill"></i> {{ author }} </span>
                <span><i class="bi bi-calendar-fill"></i> {{ date }} </span>
            </p>
        </div>

        <!-- CONTENT -->
        <div class="blog_post_content">
            {{ content|safe }}
        </div>
    </div>
</div>

{% endblock %}