{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<!-- TITLE -->
<title>{{ title }}</title>

<meta name="description" content="{{ title }}">

<!-- SOCIAL MEDIA META -->

<!-- OpenGraph (Facebook) -->
<meta property="og:image" content="https://casevide.fr/static/img/logo.png"/>

<!-- Specific (Twitter) -->
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="RESUME A ECRIRE">
<meta name="twitter:image" content="https://casevide.fr/static/img/logo.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="AntoineHinge">

<link href="{% static 'css/blog_post_style.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<!-- TITLE AND INFO -->
<div class="d-flex justify-content-center">
    <h1>
    {{title}} par {{ author }} - {{ date }}
    </h1>
</div>

<!-- CONTENT -->
<div class="d-flex justify-content-center">
    <div style="max-width: 80em" class="blog_post_content">
        {{ content|safe }}
    </div>
</div>

{% endblock %}