{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<!-- TITLE -->
<title>Case vide - Méta, comment jouer?</title>

<meta name="description" content="Case vide - Méta, comment jouer?">

<!-- SOCIAL MEDIA META -->

<!-- OpenGraph (Facebook) -->
<meta property="og:image" content="https://casevide.fr/static/img/logo.png"/>

<!-- Specific (Twitter) -->
<meta name="twitter:title" content="Méta, comment jouer?">
<meta name="twitter:description" content="Un tutoriel rapide pour jouer aux grilles méta.">
<meta name="twitter:image" content="https://casevide.fr/static/img/logo.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="AntoineHinge">
{% endblock %}

{% block page_content %}
<h1>
    {{title}}
</h1>

<h3>
    {{ author }} - {{ date }}
</h3>

{{ content|safe }}

{% endblock %}