{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block social_meta %}
    <!-- TITLE -->
    <title>Case vide - Archive des posts de blog </title>

    <meta name="description" content="Case vide - Archives des posts de blog">
{% endblock %}

{% block page_content %}

<!-- TABLE BLOCK -->
<div class="row mt-3">
    <div class="col-xl-3">
        <form method="get">
            {{ form | crispy }}
            <button class="btn btn-primary mt-4" type="submit">Rechercher</button>
        </form>
    </div>

    <div class="col-xl-9">
        <table class="table">
            <thead>
            <tr>
                <th class="th-sm">Post
                </th>
                <th class="th-sm">Date
                </th>
            </tr>
            </thead>
            <tbody>
            {% for grid in grids %}
            <tr>
                <td>
                    <a class="ps-2" href="{% url 'blog_post' grid.pk %}">{{ grid.title }}</a> par
                    <a href="{% url 'author_page' grid.post_author.name %}">{{ grid.post_author.display_name }}</a>

                </td>
                <td>{{ grid.date_created }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation" class="mt-3">
            <ul class="pagination">
                {% if grids.has_previous %}
                <li class="page-item"><a class="page-link" href="?{{ pagnav.first }}">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?{{ pagnav.previous }}"><</a></li>
                {% endif %}

                <li class="page-item"><a class="page-link">Page {{ grids.number }} sur {{ grids.paginator.num_pages }}.</a>
                </li>

                {% if grids.has_next %}
                <li class="page-item"><a class="page-link" href="?{{ pagnav.next }}">></a></li>
                <li class="page-item"><a class="page-link" href="?{{ pagnav.last }}">&raquo;</a></li>
                {% endif %}

            </ul>
        </nav>

    </div>
</div>

{% endblock %}