{% extends "base.html" %}
{% block page_content %}
<div class="mt-2">
    <h3>Présentation</h3>
    Bienvenu sur Case vide, un blog de mots croisés indépendants. Nous proposons des grilles:
    <ul>
        <li> Thématiques avec une grille symétrique (à l'américaine): parution hebdomadaire</li>
        <li> Cryptiques (à l'anglaise) qui mêlent dans les indices une définition et un jeu de mots</li>
    </ul>
</div>

<div>
    <h3>Autrices et auteurs</h3>
    <ul>
        <li>Antoine HINGE</li>
    </ul>
</div>

<div>
    <h3>Illustrations</h3>
    <ul>
        <li><a href="https://www.instagram.com/stc019_comix_boi/">stc019</a></li>
    </ul>
</div>

{% endblock %}