{% extends "base.html" %}

{% block social_meta %}
<!-- TITLE -->
<title>Case vide - A propos </title>

<meta name="description" content="Case vide - A propos">
{% endblock %}

{% block page_content %}
<div class="row mt-2">
    <div class="col-xl-6">
        <h3>Présentation</h3>

        <p>
            Bienvenu sur Case vide, un blog de mots croisés indépendants. J'ai développé ce blog pendant le premier
            confinement. Il est ouvert au public depuis fin Mai 2020. Nous proposons des grilles:
        </p>

        <ul>
            <li><b>Classique</b> Celle que les cruciverbistes connaissent bien</li>
            <li><b>Méta</b> Une grille classique qui renferme une énigme</li>
            <li><b>Cryptiques</b> Elles mêlent dans les indices une définition et un jeu de mots</li>
        </ul>
    </div>

    <div class="col-xl-6">
        <h3>Autrices et auteurs</h3>
        <ul>
            {% for author in authors %}
            <li><a href="{% url 'author_page' author.name %}">{{ author.display_name }}</a></li>
            {% endfor %}
        </ul>

        <h3>Illustrations</h3>
        <ul>
            <li><a href="https://www.instagram.com/stc019_comix_boi/">stc019</a></li>
        </ul>

        <h3>Référence (code source)</h3>
        <ul>
            <li><a href="https://github.com/crosswordnexus/html5-crossword-solver">HTML5 Solver (Crossword Nexus)</a>
                : Outil pour résoudre des grilles en lignes (format puz).
            </li>
            <li><a href="https://github.com/keiranking/Phil">Phil, a crossword maker (Keiran King)</a>
                : Outil pour créer des grilles de mots croisés.
            </li>
        </ul>
    </div>

</div>
{% endblock %}