{% load static %}

<!-- JAVASCRIPT BLOCK -->
<script type="text/javascript" src="{% static 'js/status.js' %}"></script>

<!-- GRID DISPLAY BLOCK -->
<div class="row">
    {% for project in projects %}
    <div class="d-flex position-relative col-6 col-lg-4 pt-3">

        <div class="position-relative">
            <img class="img-thumbnail flex-shrink-1 rounded" src="{% static 'img/logo.png' %}"
                 width="160" height="160">
            <div class="position-absolute top-0 left-0 w-100 h-100" style="background-color:#ffffff; opacity:.85;"></div>
            <div class="position-absolute top-50 start-50 translate-middle h1">
                <i id="status-{{ project.pk }}" class="em"></i>
            </div>
        </div>

        <p class="pt-2 ps-2">
            <strong class="d-block h5">{{ project.title }}</strong>
            Par {{ project.author_key.display_name }} le {{ project.date_created }}
        </p>

        <a href="{% url 'project_detail' project.pk %}" class="stretched-link"></a>
        <script>get_status({{project.pk}}, '{{project.is_new}}')</script>
    </div>
    {% endfor %}
</div>