{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<!-- TITLE -->
<title>Case vide - Blog de mots croisés</title>

<meta name="description" content="Case vide - Blog de mots croisés. Nouvelles grilles tous les vendredis matin.">
{% endblock %}

{% block page_content %}
<div class="row mt-4">
    <!-- EDITO BLOCK -->
    <div class="col-xl-8">
        <h3 class="pb-2 border-bottom"> Le blog </h3>
        <div class="row bg-light mx-2">
            <div class="col-3 p-2">
                <a href="https://www.instagram.com/stc019_comix/">
                    <img src="static/img/edito.png" class="w-100">
                </a>
            </div>
            <div class="col-9 p-4">
                <div class="h5"><strong class="mr-2">{{ blog_post.title }}</strong> </div>
                <p>{{ blog_post.post_author.display_name }} - {{ blog_post.date_created }}</p>
                <p>{{ blog_post.subtitle }}</p>

                <a href="{% url 'blog_post' blog_post.pk %}" class="card-link">Lire</a>
                <a href="{% url 'blog_archives' %}" class="card-link">Voir plus de posts</a>

            </div>
        </div>
    </div>

    <!-- LAST GRID RANKING -->
    <div class="col-xl-4 d-none d-xl-block border rounded pt-3">
        <div id="carouselExampleDark" class="carousel carousel-dark slide w-100 h-100"
             data-bs-ride="carousel" data-bs-interval="false">

            <!-- CAROUSEL INDICATOR -->
            <div class="carousel-indicators">
                {% for scores in scores_vector %}
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}"
                        {% if forloop.first %}class="active"{% endif %}>
                </button>
                {% endfor %}
            </div>

            <!-- CAROUSEL CONTENT -->
            <div class="carousel-inner">
                {% for scores in scores_vector %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <h4 class="mb-3 text-center">
                        <a href="{% url 'project_detail' scores.grille.pk %}"
                           class="link-secondary" style="text-decoration: none;">
                            {{ scores.grille.title }}
                        </a>
                    </h4>
                    {% include "grid_scores.html" with scores=scores.scores type=scores.type %}
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

<!-- GRID VIEW BLOCK -->
<h3 class="mt-4 pb-2 border-bottom"> Les dernières grilles </h3>

{% include "grid_view.html" %}
{% endblock %}

