{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<!-- TITLE -->
<title>Case vide - Blog de mots croisés</title>

<meta name="description" content="Case vide - Blog de mots croisés. Nouvelles grilles tous les vendredis matin.">
{% endblock %}

{% block page_content %}

<!-- JAVASCRIPT BLOCK -->

<script type="text/javascript" src="{% static 'js/status.js' %}"></script>


<div class="row mt-4">
    <!-- EDITO BLOCK -->
    <div class="col-8">
        <h3> Edito </h3>
        <hr>
        <div class="row bg-light mx-2">
            <div class="col-2 mb-0 p-4">
                <a href="https://www.instagram.com/stc019_comix_boi/">
                    <img src="static/img/edito.png" class="w-100">
                </a>
            </div>
            <div class="col-10 p-4 pl-0">
                <h5 class="mt-0">{{ edito.title }}</h5>
                <p> {{ edito.date_created }} </p>
                <p>{{ edito.content|linebreaks }}</p>
            </div>
        </div>
    </div>

    <!-- LAST GRID RANKING -->
    <div class="col-4 border border-primary rounded pt-3">
        <h3 class="mb-4"> Classement test </h3>
        {% include "grid_scores.html" %}
    </div>
</div>

<!-- GRID VIEW BLOCK -->
<h3 class="mt-4"> Les dernières grilles </h3>
<hr>

<div class="row">
    {% for project in projects %}
    <div class="col-sm-6 col-lg-4 col-xl-2 mt-3">
        <div class="card">
            <img class="card-img-top" src="static/img/logo.png" alt="Solving the grid">
            <div style="height:100%; width: 100%; position:absolute; background-color:#ffffff; opacity:.95;"></div>
            <div class="card-img-overlay card-body">
                <div class="text-center">
                    <h5 class="mt-2">
                        {{ project.title }}
                    </h5>

                    <h6 style="margin-top: 10%;"> {{ project.author_key.display_name }} </h6>
                    <h6>{{ project.date_created }}</h6>


                    <h1 class="mt-4">
                        <i id="status-{{ project.pk }}" class="em"></i>
                    </h1>

                    <script>
                    get_status({{project.pk}}, '{{project.is_new}}')


                    </script>

                </div>
                <a href="{% url 'project_detail' project.pk %}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

