{% load static %}

<!-- JAVASCRIPT BLOCK -->
<script type="text/javascript" src="{% static 'js/status.js' %}"></script>

<!-- GRID DISPLAY BLOCK -->
<div class="row">
    {% for project in projects %}
    <div class="d-flex position-relative col-6 col-lg-4 pt-3">

        <div style="position: relative;">
            <img class="img-thumbnail flex-shrink-0 me-2 rounded" src="{% static 'img/logo.png' %}"
                 width="128" height="128">
            <div style="height:100%; width: 100%; background-color:#ffffff; opacity:.95;"></div>
            <div class="h2" style="position: absolute; bottom: 40px; left: 40px;">
                <i id="status-{{ project.pk }}" class="em"></i>
            </div>
        </div>

        <p class="pb-3 mb-0">
            <strong class="d-block h5">{{ project.title }}</strong>
            Par {{ project.author_key.display_name }} le {{ project.date_created }}
        </p>

        <a href="{% url 'project_detail' project.pk %}" class="stretched-link"></a>
        <script>get_status({{project.pk}}, '{{project.is_new}}')</script>
    </div>
    {% endfor %}
</div>