{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<!-- TITLE -->
<title>Case vide - Blog de mots croisés</title>

<meta name="description" content="Case vide - Blog de mots croisés. Nouvelles grilles tous les vendredis matin.">
{% endblock %}

{% block page_content %}
<div class="row mt-4">
    <!-- EDITO BLOCK -->
    <div class="col-xl-8">
        <h3 class="pb-2 border-bottom"> Edito </h3>
        <div class="row bg-light mx-2">
            <div class="col-3 p-2">
                <a href="https://www.instagram.com/stc019_comix_boi/">
                    <img src="static/img/edito.png" class="w-100">
                </a>
            </div>
            <div class="col-9 p-4">
                <div class="h5"><strong class="mr-2">{{ edito.title }}</strong> {{ edito.date_created }}</div>
                <p>{{ edito.content|linebreaks }}</p>
            </div>
        </div>
    </div>

    <!-- LAST GRID RANKING -->
    <div class="col-xl-4 d-none d-xl-block border border-primary rounded pt-3">

        <h4 class="mb-4 text-center"> Dernière grille </h4>
        {% include "grid_scores.html" %}
    </div>
</div>

<!-- GRID VIEW BLOCK -->
<h3 class="mt-4 pb-2 border-bottom"> Les dernières grilles </h3>

{% include "grid_view.html" %}
{% endblock %}

