{% load static %}

<!-- JAVASCRIPT BLOCK -->
<script type="text/javascript" src="{% static 'js/status.js' %}"></script>

<!-- GRID DISPLAY BLOCK -->
<div class="row">
    {% for project in projects %}
    <div class="d-flex position-relative col-6 col-lg-4 pt-3">

        <div style="position: relative;">
            <img class="img-thumbnail flex-shrink-0 me-2 rounded" src="{% static 'img/logo.png' %}"
                 width="150" height="150">
            <div style="height:100%; width: 100%; position: absolute; top: 0px; left: 0px;
                background-color:#ffffff; opacity:.85;"></div>
            <div class="h2" style="position: absolute; bottom: 50px; left: 50px;">
                <i id="status-{{ project.pk }}" class="em"></i>
            </div>
        </div>

        <p class="pt-2 pb-3 mb-0">
            <strong class="d-block h5">{{ project.title }}</strong>
            Par {{ project.author_key.display_name }} le {{ project.date_created }}
        </p>

        <a href="{% url 'project_detail' project.pk %}" class="stretched-link"></a>
        <script>get_status({{project.pk}}, '{{project.is_new}}')</script>
    </div>
    {% endfor %}
</div>