{% extends "base.html" %}
{% load static %}

{% block social_meta %}
<!-- TITLE -->
<title>Case vide - Méta, comment jouer?</title>

<meta name="description" content="Case vide - Méta, comment jouer?">

<!-- SOCIAL MEDIA META -->

<!-- OpenGraph (Facebook) -->
<meta property="og:image" content="https://casevide.fr/static/img/logo.png"/>

<!-- Specific (Twitter) -->
<meta name="twitter:title" content="Méta, comment jouer?">
<meta name="twitter:description" content="Un tutoriel rapide pour jouer aux grilles méta.">
<meta name="twitter:image" content="https://casevide.fr/static/img/logo.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="AntoineHinge">
{% endblock %}

{% block page_content %}
<div class="row mt-3">
    <div class="col-xl-6">
        <!-- Explication rapide -->
        <h3>Une grille méta, c'est quoi? </h3>
        <hr>

        <p>
            C'est une grille de mots croisés classique dans laquelle se cache un mot ou une phrase. Pour le découvrir,
            utilisez votre sens de l'observation et votre logique pour avoir le déclic!
        </p>

        <!-- Comment jouer -->
        <h3> Comment jouer? </h3>
        <hr>

        <h5><b>1. Lire la phrase d'instruction.</b></h5>
        <p>
            Elle vous donne un indice sur le méta à trouver. Le méta pourrait être
            un personnage célèbre, un lieu géographique, une expression... Ou n'importe quoi d'autre!
        </p>
        <p><i>Exemple: La réponse à cette grille méta est une constellation.</i></p>

        <h5><b>2. Remplir la grille.</b></h5>
        <p>
            C'est la partie que vous savez déjà faire! Gardez l'oeil ouvert pour voir les répétitions, les tournures
            de phrase étranges...
        </p>

        <h5><b>3. Trouver le méta</b></h5>
        <p>
            Les choses se corsent! C'est la partie avec laquelle vous n'êtes pas encore familier. C'est aussi la partie
            la plus difficile à expliquer car chaque grille méta a son mécanisme propre. Un peu comme dans un escape
            room, les puzzles sont tous différents (et c'est l'intérêt du jeu)!
        </p>

        <p>
            Si vous êtes perdus, voici quelques pistes pour vous guider:
        <ul>
            <li>Reliser le titre et la phrase d'instruction pour orienter votre recherche</li>
            <li>Les entrées longues de la grille peuvent contenir des mots cachés</li>
            <li>Les définitions peuvent contenir des indices en lien avec le thème</li>
            <li>Dans la grille remplie, cherchez des répétitions</li>
            <li>...</li>
        </ul>
        </p>

    </div>

    <div class="col-xl-6">
        <h3>Exemple</h3>
        <hr>
        <div class="row">
            <div class="col-7">
                <img src="{% static 'img/meta_example.png' %}" alt="Grille d'exemple" class="img-fluid img-thumbnail">
                <figcaption class="figure-caption">Grille méta remplie: <a href="https://casevide.fr/grilles/51/">Fais
                    le pour elle</a></figcaption>
            </div>
            <div class="col-5 text-justify">
                <p>
                    On est à la recherche d'un personnage de série. Le titre "Fais le pour elle", n'est pas d'une grande
                    aide dans cet exemple, à moins d'avoir la référence.
                </p>
                <p>
                    A première vue, les définitions ne cachent rien (pas de répétition, pas de jeu sur les lettres). Il
                    y a l'air d'avoir un thème policier dans certaines définitions. La seule série citée, indirectement,
                    est Les Simpsons (cf. MOE). Cherche t'on un personnage des simpsons?
                </p>
                <p>
                    On liste les mots les plus longs de la grille: FLUTE A BEC, REACTIVER, CALAMAR GEANT, NE CHOMERA
                    PAS. Rien à première vue dans FLUTE A BEC ni dans REACTIVER, mais CALAMAR GEANT cache MARGE et NE
                    CHOMERA PAS renferme HOMER.
                </p>
                <p>
                    En regardant dans la grille, on trouve aussi SATELLISA (LISA) et BAR-TABACS (BART) dans des entrées
                    symétriques.
                </p>
            </div>
        </div>
        <div class="row px-4 text-center mt-2">
            Le membre de la famille qui reste, c'est MAGGIE! C'est confirmé par le titre, en référence à DO IT FOR HER
            affiché par Homer sur sa station de travail.
        </div>
    </div>

    <div class="mt-4 col-12 text-center">
        <h5>Si vous êtes coincés, n'hésitez pas à demander de l'aide grâce au <a href="https://casevide.fr/contact">formulaire
            de contact</a>.</h5>
        <h3>Bon jeu!</h3>
    </div>
</div>

{% endblock %}