{% extends "base.html" %}

{% block social_meta %}
<!-- TITLE -->
<title>Case vide - Méta, comment jouer?</title>

<meta name="description" content="Case vide - Méta, comment jouer?">
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-4">
        <!-- Explication rapide -->
        <h3 class="mt-2">Une grille méta, c'est quoi? </h3>
        <hr>

        <p>
            C'est une grille de mots croisés classique dans laquelle se cache un mot ou une phrase. Pour le découvrir,
            utilisez votre sens de l'observation et votre logique pour avoir le déclic!
        </p>

        <!-- Comment jouer -->
        <h3> Comment jouer? </h3>
        <hr>

        <h5><b>1. Lire la phrase d'instructions.</b></h5>
        <p>
            Elle vous donne un indice sur le méta à trouver. Le méta pourrait être
            un personnage célèbre, un lieu géographique, une expression... Ou n'importe quoi d'autre!
        </p>
        <p><i>Exemple: La réponse à cette grille méta est une constellation.</i></p>

        <h5><b>2. Remplir la grille.</b></h5>
        <p>
            C'est la partie que vous savez déjà faire! Gardez l'oeil ouvert pour voir les répétitions, les tournures
            de phrase étranges...
        </p>

        <h5><b>3. Trouver le méta</b></h5>
        <p>
            Les choses se corsent! C'est la partie avec laquelle vous n'êtes pas encore familier. C'est aussi la partie
            la plus difficile à expliquer car chaque grille méta a son mécanisme propre. Un peu comme dans un escape
            room, les puzzles sont tous différents (et c'est l'intérêt du jeu)!
        </p>

        <p>
            Si vous êtes perdus, voici quelques pistes pour vous guider:
        <ul>
            <li>Reliser le titre et la phrase d'instruction pour orienter votre recherche</li>
            <li>Les entrées longues de la grille peuvent contenir des mots cachés</li>
            <li>Les définitions peuvent contenir des indices en lien avec le thème</li>
            <li>Dans la grille remplie, cherchez des répétitions</li>
            <li>...</li>
        </ul>
        </p>

        <div class="col-12 text-center">
            <h5>N'hésitez pas à demander de l'aide grâce au <a href="https://casevide.fr/contact">formulaire de
                contact</a>.</h5>
            <h3>Bon jeu!</h3>
        </div>

    </div>
</div>

{% endblock %}