{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block social_meta %}
    <!-- TITLE -->
    <title>Case vide - Scores des grilles </title>

    <meta name="description" content="Case vide - Scores des grilles">
{% endblock %}

{% block page_content %}

<!-- JAVASCRIPT BLOCK -->
<script type="text/javascript" src="{% static 'js/status.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init_grid.js' %}"></script>


<!-- TABLE BLOCK -->
<div class="row mt-3">
    <div class="col-xl-3">
        <form method="get">
            {{ form | crispy }}
            <button class="btn btn-primary mt-4" type="submit">Rechercher</button>
        </form>
    </div>

    <div class="col-xl-9">
        <table class="table">
            <thead>
            <tr>
                <th class="th-sm">Pseudo</th>
                <th class="th-sm">Score</th>
                <th class="th-sm">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for score in scores %}
            <tr>
                <td>{{score.pseudo}}</td>
                <td>{{score.time}}</td>
                <td>{{score.solved_at}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include "page_navigation_buttons.html" %}

    </div>
</div>

{% endblock %}