{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block social_meta %}
    <!-- TITLE -->
    <title>Case vide - Scores des grilles </title>

    <meta name="description" content="Case vide - Scores des grilles">
{% endblock %}

{% block page_content %}

<!-- JAVASCRIPT BLOCK -->
<script type="text/javascript" src="{% static 'js/status.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init_grid.js' %}"></script>


<!-- TABLE BLOCK -->
<div class="row mt-3">
    <div class="col-xl-3">
        <form method="get">
            {{ form | crispy }}
            <button class="btn btn-primary mt-4" type="submit">Rechercher</button>
        </form>
    </div>

    <div class="col-xl-9">
        <table class="table">
            <thead>
            <tr>
                <th class="th-sm">Pseudo</th>
                <th class="th-sm">Score</th>
            </tr>
            </thead>
            <tbody>
            {% for score in scores %}
            <tr>
                <td>
                    {% if score.rank == 1 %}
                        <i class="em em-first_place_medal" aria-role="presentation"
                           aria-label="MEDAILLE D'OR"></i>
                        {% elif score.rank == 2 %}
                        <i class="em em-second_place_medal" aria-role="presentation"
                           aria-label="MEDAILLE D'ARGENT"></i>
                        {% elif score.rank == 3 %}
                        <i class="em em-third_place_medal" aria-role="presentation"
                           aria-label="MEDAILLE DE BRONZE"></i>
                        {% else %}
                        <i class="em em-sports_medal" aria-role="presentation"
                           aria-label="MEDAILLE"></i>
                    {% endif %}
                    {{score.pseudo}}
                </td>
                <td>
                    {% if type == "meta" %}
                        {{ score.solved_at }}
                    {% elif type == "scrabeille" %}
                        {{ score.score }}
                    {% else %}
                        {{ score.get_minute_secs }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include "page_navigation_buttons.html" with grids=scores%}

    </div>
</div>

{% endblock %}