{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block social_meta %}
    <!-- TITLE -->
    <title>Case vide - Scores des grilles </title>

    <meta name="description" content="Case vide - Scores des grilles">
{% endblock %}

{% block page_content %}

<!-- JAVASCRIPT BLOCK -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="{% static 'js/status.js' %}"></script>

<!-- TABLE BLOCK -->
<div class="row mt-3">
    <div class="col-xl-3">
        <form method="get">
            {{ form | crispy }}
            <button class="btn btn-primary mt-2" type="submit">Rechercher</button>
        </form>

        {% if graph_data %}
        <canvas id="myChart" width="400" height="200" class="mt-4"></canvas>
        <script>
            const ctx = document.getElementById('myChart');
            const data = {
                datasets: [{
                  data: [{% for data in graph_data %} {{data}}, {% endfor %}],
                }],
                labels: [{% for data in graph_data %} 'data', {% endfor %}]
            };
            const config = {
              type: 'bar',
              data: data,
              options: {
                responsive: true,
                plugins: {
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: 'Chart.js Bar Chart'
                  }
                }
              },
            };
            const myChart = new Chart(ctx, config);
        </script>
        {% endif %}
    </div>

    <div class="col-xl-9">
        <table class="table">
            <thead>
            <tr>
                <th class="th-sm">Rang</th>
                <th class="th-sm">Pseudo</th>
                <th class="th-sm">Score</th>
            </tr>
            </thead>
            <tbody>
            {% for score in scores %}
            <tr>
                <td>
                    {% if score.rank == 1 %}
                        <i class="em em-first_place_medal" aria-role="presentation"
                           aria-label="MEDAILLE D'OR"></i>
                        {% elif score.rank == 2 %}
                        <i class="em em-second_place_medal" aria-role="presentation"
                           aria-label="MEDAILLE D'ARGENT"></i>
                        {% elif score.rank == 3 %}
                        <i class="em em-third_place_medal" aria-role="presentation"
                           aria-label="MEDAILLE DE BRONZE"></i>
                        {% else %}
                        <b class="fw-bold">{{score.rank}}.</b>
                    {% endif %}
                </td>
                <td>
                    {% if score.pseudo == name %}<b>{% endif %}
                    {{score.pseudo}}
                    {% if score.pseudo == name %}</b>{% endif %}
                </td>
                <td>
                    {% if score.pseudo == name %}<b>{% endif %}
                        {% if type == "meta" %}
                            {{ score.solved_at }}
                        {% elif type == "scrabeille" %}
                            {{ score.score }}
                        {% else %}
                            {{ score.get_minute_secs }}
                        {% endif %}
                    {% if score.pseudo == name %}</b>{% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include "page_navigation_buttons.html" with grids=scores %}

    </div>
</div>

{% endblock %}